$primary: #FF6000;
$secondary: #454545;
$success: #FFE6C7;
$badge-padding-y:                   .70em;
$badge-padding-x:                   1em;

$pagination-color: black;
@import "../../../node_modules/bootstrap/scss/bootstrap";

.director-image {
  width: 100px;
  height: 100px;
}